.site-container {
    width: 100%;
    max-width: 1720px;
    padding-inline: 60px;
    margin-inline: auto;
    display: flow-root;

    @media (max-width: 1600px) {
        max-width: 1440px;
        padding-inline: 40px;
    }

    @media (max-width: 1024px) {
        padding-inline: 20px;
    }

    @media (max-width: 767px) {
        padding-inline: 16px;
    }
}

// Lock scroll when drawer is open
body {
    &.drawer-open {
        overflow: hidden !important;
        touch-action: none;
    }

    &.page-template-default {
        .wp-block-woocommerce-cart {
            margin-inline: 0 !important;
        }
    }
}

#page a:focus {
    outline: none;
}